@import "tailwindcss";

body {
  font-family: 'Noto Sans Bengali', 'SolaimanLipi', sans-serif, Vrinda, Helvetica, Arial;
}


:root {
  --background: #ffffff;
  --foreground: #2c3f41;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}




  .container {
   width: 90% ;
  margin: 0 auto ;
  }
